<div class="container-responsive-padding">

<ul class="nav nav-tabs">
  <li>
    <%= link_to I18n.t('navbar.links.all_players'), root_url %>      
  </li>
  <li>
    <%= link_to I18n.t('navbar.links.games'), Game %>
  </li>
  <li class="active">
    <%= link_to I18n.t('navbar.links.statistics'), statistics_path %>
  </li>
</ul>

<div class="row-fluid">
  <div class="span6">
    <h4 class="chart-title"><%= I18n.t('statistics.monthly_games.heading') %></h4>
    <div class="chart" id="weekly_games_chart"></div>
  </div>

  <div class="span6">
    <h4 class="chart-title"><%= I18n.t('statistics.weekly_games.heading') %></h4>
    <div class="chart" id="daily_games_chart"></div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h4 class="chart-title"><%= I18n.t('statistics.challenged_count.heading') %></h4>
    <div class="chart" id="challenged_count_chart"></div>
  </div>
 </div>

 <div class="row-fluid">
  <div class="span12">
    <h4 class="chart-title"><%= I18n.t('statistics.challenger_count.heading') %></h4>
    <div class="chart" id="challenger_count_chart"></div>
  </div>
 </div>

</div>
