<div class="container-responsive-padding">
  <fieldset>
    <legend><%= form.object.new_record? ? I18n.t('player.new.heading') : I18n.t('player.edit.heading') %></legend>

    <%= render partial: 'shared/form_errors', locals: { form: form } %>

    <%= image_tag form.object.image_url, size: 300, class: 'form-avatar' %>

    <div class="control-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'input-xxlarge' %>
    </div>

    <div class="control-group">
      <%= form.label :email %>
      <%= form.email_field :email, class: 'input-xxlarge' %>
    </div>

    <div class="control-group">
      <%= form.label :image_url %>
      <%= form.text_field :image_url, class: 'input-xxlarge' %>
    </div>

    <div class="control-group">
      <%= form.label I18n.t('player.form.hipchat_mention') %>
      <%= form.text_field :mention, class: 'input-xxlarge' %>
    </div>

    <div class="form-actions">
      <%= form.submit I18n.t('player.form.save'), class: 'btn btn-primary' %>
      <%= link_to I18n.t('player.form.cancel'), root_path, class: 'btn' %>
    </div>
  </fieldset>
</div>
