<% cache player do %>
  <div class="row-fluid player" id="<%= dom_id(player) %>" data-rating="<%= player.rating %>">
    <div class="pull-left">
      <div class="ranking_display"><%= ranking(player) %></div>

      <div class="thumbnail">
        <%= image_tag image_for(player), size: 200 %>
      </div>
    </div>

    <div class="pull-left">
      <h3>
        <%= link_to player do %>
          <%= player.name %>
        <% end %>
      </h3>

      <div class="row-fluid data_and_actions">
        <div class="span5 points_display">
        </div>
        <div class="span5 controls">
          <%= render partial: 'players/controls', locals: { player: player } %>
        </div>
      </div>
    </div>

    <div class="pull-right level-box">
      <div clas="badge-container"><%= image_tag 'badge-respect.png'%></div>
      <div class="points_display">
          <label><%= I18n.t('player.points', points: player.rating) %></label>
        </div>
    </div>

  </div>
<% end %>
