<% cache player do %>
  <div class="row-fluid player" id="<%= dom_id(player) %>" data-rating="<%= player.rating %>">
    <div class="pull-left">
      <div class="ranking_display"><%= ranking(player) %></div>

      <div class="thumbnail">
        <%= image_tag player.gravatar_url(:size => 200) %>
      </div>
    </div>

    <div class="pull-left">
      <h3><%= player.name %></h3>

      <div class="row-fluid data_and_actions">
        <div class="span5 points_display">
          <h4><%= I18n.t('player.points', :points => player.rating) %></h4>
        </div>
        <div class="span5 controls">
          <%= render :partial => 'players/controls', :locals => {:player => player} %>
        </div>
      </div>
    </div>

    <div class="pull-right level-box">
      <div clas="badge-container"><%= image_tag 'badge-respect.png'%></div>
      <div class="points_display">
          <label>Points: 1080</label>
        </div>
    </div>

  </div>
<% end %>
