<div class="show_player player profile-box">
	<div>
		<div class="ranking_display">
      		<div class="label label-important ranking">
	        	<%= ranking(@player) %>
	      	</div>
	    </div>

		<div class="thumbnail avatar pull-left">
			<%= image_tag image_for(@player), size: '80', size: '80x80' %>
		</div> 

		<div class="name pull-left">
			<h1><%= @player.name %></h1>
			<%= link_to "mailto:#{@player.email}", class: 'link'  do %>
			<i class="icon-envelope"></i>
			<%= @player.email %>
			<% end %>
		</div>

		<div class="level-box pull-right">
	      <div class="badges">
	        <div>
				<div clas="badge-container pull-left"><%= image_tag level_image_tag_for(@player) %></div>
		        <label class="pull-left"><%= I18n.t('player.points', points: @player.rating) %></label>
		        <label class="pull-left"><%= I18n.t('player.profile.games', count: @player.games.count) %></label>
	        </div>
	        
	        <% if @player.badges.any? %>
	          <%= render partial: 'badges/player_badge', collection: @player.badges %>
	        <% end %>
	      </div>
	    </div>


		<div class="clearfix"></div>
	</div>

	<ul class="nav nav-tabs">
		<li class="active"><a href="#last_20_games" data-toggle="tab">Last 20 Games</a></li>
		<% if @player.awards.any? %>
			<li><a href="#badges" data-toggle="tab">Badges</a></li>
		<% end %>
	</ul>
	
	<div class="tab-content">
	  <div class="tab-pane active" id="last_20_games">
		<div class="page-header">
		    <p><%= distance_of_last_game_for(@player) %></p>
		  </div>
		
		  <div id="games">
		    <%= render @player.games.includes(:challenged, :challenger).limit(20) %>
		  </div>  	
	  </div>
	
	  <div class="tab-pane" id="badges">
		<% if @player.awards.any? %>
		<%= render partial: 'badges/player_award_list' %>  
		<% else %>
		None yet.	
		<% end %>
	  </div>
	</div>
</div>

